<!doctype html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>
    <meta charset="<: $settings.charset :>">
    <meta http-equiv="Content-type" content="text/html; charset=<: $settings.charset :>">
    <title>VegRev</title>

    <link rel="stylesheet" href="<: $settings.static_url :>/css/bootstrap.min.css">
    <link rel="stylesheet" href="<: $settings.static_url :>/css/global.css">
    <link rel="stylesheet" href="<: $settings.static_url :>/css/proxima_nova.css">

    <link rel="stylesheet" href="<: $settings.static_url :>/css/<:$template:>.css">
    <link rel="stylesheet" href="<: $settings.static_url :>/css/theme/<:$viewer.theme:>.css">
    
    <link rel="stylesheet" href="<: $settings.static_url :>/css/chosen.css">
    <link rel="stylesheet" href="<: $settings.static_url :>/css/postform.css">

</head>
<body>


<div class="navbar navbar-fixed-top">
    <: include "header.tt" :>
</div>

<div class="container clearfix">
    <div id="content">        
        <: $content | raw :>
    </div>

    <div id="sidebar" class="clearfix">
        <: include "sidebar.tt" :>
    </div>

    <div id="pagination" class="clearfix">
        <: if ($template == 'thread') { include "pagination-thread.tt" } :>
        <: if ($template == 'forum')  { include "pagination-forum.tt" } :>
    </div>
</div>


<div id="footer" class="clearfix">
    <: include "footer.tt" :>
</div>



<!-- JS at the bottom so it doesn't block -->
<script src="<: $settings.static_url :>/js/jquery.1.7.1.min.js"></script>
<script src="<: $settings.static_url :>/js/jquery.masonry.min.js"></script>
<script src="<: $settings.static_url :>/js/hashgrid.js"></script>
<script src="<: $settings.static_url :>/js/bootstrap.min.js"></script>
<script src="<: $settings.static_url :>/js/jquery.chosen.min.js"></script>
<script src="<: $settings.static_url :>/js/jquery.form.js"></script>

<script src="<: $settings.static_url :>/js/tinymce/config.js"></script>
<script src="<: $settings.static_url :>/js/tinymce/jquery.tinymce.js"></script>
<script src="<: $settings.static_url :>/js/tinymce/tiny_mce.js"></script>

<script src="<: $settings.static_url :>/js/app.js"></script>
<script src="<: $settings.static_url :>/js/postform.js"></script>
<script src="<: $settings.static_url :>/js/<:$template:>.js"></script>

<div id="postform" class="clearfix modal fade">
    <: include "postform.tt" :>
</div>

</body>
</html>
