


/* Footer Info
================================================== */

#sosumi {
  float: left;
  margin: 12px 0 0 5px;
  font-size: 11px;
  color: #666;
}

#sosumi p {
  margin: 0;
}




/* Footer Pagination
================================================== */

#footer ul.pagination {
  list-style: none;
  margin: 5px 0 0 0;
  width: 225px;
  float: right;
}

#footer ul.pagination li {
  display: block;
  float: left;
  width: 20px;
  height: 20px;
  margin: 5px 0 0 5px;
  text-align: center;
  font-size: 11px;
}

#footer ul.pagination li.first,
#footer ul.pagination li.last {
  width: 80px;
}

#footer ul.pagination li.current {
  width: 50px;
}

#footer ul.pagination li a {
  display: block;
  color: #666;
  background-color: #ddd;
}

#footer ul.pagination li a:hover {
  background-color: #ccc;
  color: #333;
}