/******************************************************************************
 gallery.css - For gallery pages
******************************************************************************/



.gallery_list {
  margin: 0 0 0 -20px;
  text-align: right;
}

.gallery_list p {
  margin: 0 0 0 10px;
  width: 200px;
}

.gallery_list li a {
  float: left;
  border: 1px solid #ddd;
  width: 218px;
  height: 242px;
  margin: 0 0 30px 20px;
  background-color: #fff;
  color: #666;
}

.gallery_list .photo {
  width: 198px;
  height: 198px;
  border: 1px solid #eee;
  margin: 10px 10px 8px 10px;
}


.polaroid_container {
  width: 699px;
  margin: 0;
  background-color: #fff;
  border: 1px solid #ddd;
}

.polaroid_container .inner {
  border: 1px solid #ccc;
  width: 649px;
  margin: 20px 0 60px 20px;
}

.inner img {
  width: 640px;
}




