
/* Bootstrap overrides
================================================== */

body, ul, li, a { line-height: 20px; }
body { padding-top: 40px; }
a:hover { text-decoration: none; }


body, label, input, select, textarea{
    font-family: "Helvetica", "Arial", sans-serif;
}

.badge {
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

/* Global Styles
================================================== */

body {
    background-color: #fcfcfc;
    background-image: url('../img/bg_tile.gif');
}

img {
    max-width:  100%;
    max-height: 100%;
    height: auto;
    vertical-align: top; 
    -ms-interpolation-mode: bicubic;
}


/* Fonts
================================================== */

h1, h2, h3, h4, h5, h6 {
  color: #444;
  font-family: "ProximaNovaSemiBold";
  font-weight: normal;
}

h1 {
  color: #333;
  font-size: 28px;
  line-height: 39px;
  margin: 0;
  border-bottom: 1px dotted #ccc;
}

h2 {
  font-size: 16px;
  line-height: 24px;
  border-bottom: 1px dotted #ccc;
  margin: 5px 0 10px 0;
}


/* Header (TODO Fix this up with proper classes / logo)
================================================== */

.navbar {
    height: 40px !important;
}

.navbar .brand {
    padding: 8px 14px 8px 15px;
    height: 24px;
}

.navbar .nav .active > a,
.navbar .nav .active > a:hover {
    background-color: rgba(0,0,0,0.3);
}

.navbar .nav > li > a:hover {
    background-color: rgba(0,0,0,0.1);
}


/* Main Body
================================================== */

#content {
    margin-top: 20px;
    width: 700px;
    float: left;
}

#sidebar {
    width: 220px;
    margin: 30px 0 0 20px;
    float: left;
    min-height: 400px;
    font-size: 12px;
}


/* Sidebar Widgets
================================================== */

#sidebar #loginbox input[type=text],
#sidebar #loginbox input[type=password] {
  width: 210px;
  margin-bottom: 10px;
}

#sidebar #loginbox input[type=submit] {
  float: right;
  margin-bottom: 16px;
}

#sidebar #loginbox span {
  float: left;
  font-size: 11px;
  margin-top: 8px;
}

#sidebar #threadinfo {
    margin-bottom: 20px;
}


/* Menus
================================================== */

.header-avatar {
    padding: 0;
    margin: -4px 5px -11px -5px;
    max-height: 30px;
    display: inline;
    border-radius: 2px;
}

.menu-user {
    width: 225px;
    white-space: nowrap;
}

.menu-user span {
    display: inline-block;
    max-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


/* Users Online
================================================== */

ul.user_icon_list {
  list-style: none;
  margin: 0 0 20px 0;
  line-height: 29px;
  text-align: center;
}

ul.user_icon_list img {
  width: 29px;
  height: 29px;
}

ul.user_icon_list li {
  float: left;
  margin: 0 1px 1px 0;
}

ul.user_icon_list li a {
  background-color: #ddd;
  display: block;
  width: 29px;
  height: 29px;
}


/* Tags
================================================== */

ul.tag_list {
  list-style: none;
  margin: 0 0 20px 0;
}

ul.tag_list li {
  float: left;
  margin: 0 4px 0 0;
}

ul.tag_list a {
  color: #fff;
}

ul.tag_list a:hover {
  color: #eee;
}


/* Saved Threads
================================================== */

ul.recent_threads {
  font-size: 11px;
  list-style: none;
  margin: 0 0 20px 0;
}

ul.recent_threads li {
  line-height: 15px;
}

ul.recent_threads a {
  color: #444;
}

ul.recent_threads a:hover {
  color: #111;
}



/* Bottom Pagination Bar
================================================== */

#pagination {
    clear: both;
    padding: 40px 0 0 0;
    width: 700px;
}

#pagination-list {
    height: 0;
}

#pagination-list ul {
    background-color: #fff;
}

#pagination-list a {
    text-align: center;
    width: 33px;
}

#pagination-list .disabled a {
    width: 50px;
    text-align: right;
    background-color: #f5f5f5;
}

#sidebar .statbox_list {
    color: #666;
    line-height: 20px;
}

#sidebar .statbox_list dt {
    text-align: left;
    width: 80px;
    line-height: 20px;
}

#sidebar .statbox_list dd {
    margin-left: 80px;
    line-height: 20px;
}

#sidebar .pagination {
    margin: 0 0 4px 0;
}

#sidebar .pagination ul li a {
    padding: 0;
    background: #fff;
    width: 53px;
    text-align: center;
}

#sidebar .pagination ul li a:hover {
    background: #f5f5f5;
}


/* Footer
================================================== */

#footer {
    border-top: 1px solid #ccc;
    padding: 0 0 10px 0;
    margin: 19px 0 0 0;
    background-color: #f6f6f6;
}

#sosumi {
    float: left;
    margin: 10px 0 0 5px;
}

#sosumi p {
    font-size: 11px;
    color: #666;
    margin: 0;
}



/* Hashgrid
================================================== */

#grid {
    width: 940px;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -470px;
}

#grid div.vert {
    width: 40px;
    margin-left: 20px;
    background-color: rgba(255,0,0,0.05);
}

#grid div.vert.first-line {
    margin-left: 0;
}

#grid div.horiz {
    height: 19px;
    border-bottom: 1px dotted #ccc;
    margin: 0;
    padding: 0;
}


/* Clearfix
================================================== */

.clearfix:before, .clearfix:after { content:""; display: table; }
.clearfix:after { clear:both; }
.clearfix { zoom:1; }


/* Utility Classes
================================================== */

.totally_hidden {
    display: none;
    visibility: hidden;
}
 
 
 