#grid {
    width: 940px;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -470px;
}

#grid div.vert {
    width: 40px;
    margin-left: 20px;
    background-color: rgba(255,0,0,0.05);
}

#grid div.vert.first-line {
    margin-left: 0;
}

#grid div.horiz {
    height: 19px;
    border-bottom: 1px dotted #ccc;
    margin: 0;
    padding: 0;
}
