
#poll_box {
  width: 666px;
  padding: 16px;
  margin: 0 0 16px 0;
  border: 1px solid #ddd;
  background-color: #fff;
}

#vote_box {
  margin-top: 16px;
}

#vote_box img {
  height: 16px;
  width: 16px;
}