
/* Postform
================================================== */

#postform {
  display: block;
  width: 580px;
  background-color: #fff;
}

#postform div.formcontainer {
  position: relative;
  padding: 0 15px 0 15px;
  max-height: 400px;
  overflow-y: auto;
}

#postform textarea#message {
  border: none;
  height: 137px;
  margin: 0;
}

.modal-header {
    background-color: whiteSmoke;
    -webkit-border-top-left-radius: 6px;
    -webkit-border-top-right-radius: 6px;
    -moz-border-radius-topleft: 6px;
    -moz-border-radius-topright: 6px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}



/* Override MCE Junk
================================================== */

/* TinyMCE will show these - stays hidden if JS is disabled */
ul.mce_toolbar {
  display: none;
}

.mceBlocker, .mceProgress {
    display: none;
    visibility: hidden;
}



/* New Postform
================================================== */

#postform label,
#postform #subject {
    padding: 5px 0;
    height: 19px;
    line-height: 19px;
}

#postform label {
    background-color: #fff;
    float: left;
    width: 65px;
    border-bottom: 1px solid #ddd;
    padding-right: 10px;
    font-weight: bold;
    color: #aaa;
    text-align: right;
    clear: both;
}

#postform #subject {
    float: left;
    width: 475px;
    border: none;
    border-bottom: 1px solid #ddd;
    outline: none;
    box-shadow: none;
    border-radius: 0;
    color: #333;
    font-weight: bold;
}







/* Chosen Overrides
================================================== */

div.tag_select {
    height: 30px !important;
}

#tag_select {
    padding: 0 !important;
    height: 30px !important;
}

.chzn-container {
    width: 475px !important;
    height: 29px;
    margin: 0 !important;
    padding: 0;
}

.chzn-container .chzn-choices {
    border: none;
    background-image: none;
    height: 28px !important;
    padding-top: 1px;
    border-bottom: 1px solid #ddd;
}

.chzn-container-active .chzn-choices {
    box-shadow: none;
}

.chzn-drop {
    width: 480px !important;
    margin-left: -5px;
    border-left: 1px solid #ddd !important;
    border-bottom: 1px solid #ddd !important;
    border-top: 1px solid #ddd !important;
    z-index: 999 !important;
    position: absolute !important;
    font-size: 11px;
}

.chzn-results {
    height: 100px;
}

.search-choice {
    height: 18px !important;
    line-height: 18px !important;
    font-size: 11px;
    font-weight: bold;
    color: #666 !important;
    padding: 1px 18px 0 5px !important;
    margin: 3px 5px 0 0 !important;
}





/* TinyMCE Editor
================================================== */

table.mceLayout {
  height: auto !important;
  background-color: transparent !important;
  width: 100% !important;
}

table.mceLayout,
table.mceLayout tr,
table.mceLayout td {
  border:  none;
  padding: 0;
  margin:  0;
  background-color: #fff;
}

#tinymce_container {
  margin: 10px 0 10px 0;
  width: 550px;
  max-width: 550px;
  overflow: hidden;
  border: 1px solid #ddd;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
}

#tinymce_container table.mceLayout {
  width: 540px;
  max-width: 540px;
}

table.mceLayout td.mceIframeContainer {
  padding: 5px 5px 0 5px;
  vertical-align: top;
}



/* TinyMCE Toolbars Generic
================================================== */


ul.mce_toolbar {
    clear:      both;
    display:    block;
    list-style: none;
    margin:     0;
    padding:    0 0 0 4px;
    height:     29px;
    font-size:  12px;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
}

ul.mce_toolbar li {
    width: 100%;
}

ul.mce_toolbar li input[type=text] {
    border: 0;
    padding: 5px 0;
    height: 19px;
    line-height: 0px;
    box-shadow: none;
    float: left;
    display: block;
    border-radius: 0;
    border-right: 1px solid #ddd;
    padding-left: 5px;
}

ul.mce_toolbar button {
    width: 80px;
    height: 18px;
    padding: 0;
    margin: 5px 5px 0 0;
    font-size: 11px !important;
    line-height: 0;
    float: right;
    display: block;
    color: #666;
}



/* TinyMCE Main Toolbars
================================================== */



ul.emoticons li, ul.formatting li {
    float: left;
    margin: 2px 0 0 1px;
    padding: 0;
    height: 26px;
    width: 26px;
}

ul.emoticons li a, ul.formatting li a {
    display: block;
    width: 26px;
    height: 26px;
    text-align: center;
    line-height: 26px;
}

ul.emoticons li a img, ul.formatting li a img {
    vertical-align: bottom;
    margin-bottom: 4px;
}








/* TinyMCE Optional Toolbars Specific
================================================== */

ul.mce_toolbar .link_url  { width: 239px; }
ul.mce_toolbar .link_text { width: 201px; }

ul.mce_toolbar .youtube_url { width: 446px; }
ul.mce_toolbar .picture_url { width: 446px; }
ul.mce_toolbar .uploader    { width: 446px; }


ul.mce_toolbar.extra_formatting li select {
    height: 19px;
    margin: 5px 10px 0 10px;
    font-size: 11px;
    color: #666;
    float: left;
}


ul.mce_toolbar.extra_formatting .fontname  { width: 120px; }
ul.mce_toolbar.extra_formatting .fontsize  { width: 70px; }
ul.mce_toolbar.extra_formatting .fontcolor { width: 90px; }




/* Attachment View at the bottom
================================================== */

ul.mce_attachments {
    list-style: none;
    margin: 0;
    padding: 0;
    border-top: 1px solid #ddd;
}

ul.mce_attachments li {
    width: 100px;
    margin: 5px 5px 5px 5px;
    display: block;
    float: left;
}

ul.mce_attachments li a {
    display: block;
}






/* All optional toolbars hidden by default
================================================== */

div.subject         { display: none; }
div.tag_select      { display: none; }
ul.formatting       { display: block; }
ul.extra_formatting { display: none; }
ul.add_link         { display: none; }
ul.add_youtube      { display: none; }
ul.add_picture      { display: none; }
ul.add_attachment   { display: none; }
ul.emoticons        { display: none; }
ul.mce_attachments  { display: none; }



/* Formatting Sprites
================================================== */

ul.formatting li { background: url('../img/editor-sprite.png') no-repeat top center; }

ul.formatting li.spacer                       { background-image: none; width: 13px;}
ul.formatting li.sprite-attachment            { background-position: center 0;      } 
ul.formatting li.sprite-edit-alignment-center { background-position: center -46px;  } 
ul.formatting li.sprite-edit-alignment-left   { background-position: center -92px;  } 
ul.formatting li.sprite-edit-alignment-right  { background-position: center -138px; } 
ul.formatting li.sprite-edit-bold             { background-position: center -184px; } 
ul.formatting li.sprite-edit-extra            { background-position: center -230px; } 
ul.formatting li.sprite-edit-highlight        { background-position: center -276px; } 
ul.formatting li.sprite-edit-italic           { background-position: center -322px; } 
ul.formatting li.sprite-edit-quotation        { background-position: center -368px; } 
ul.formatting li.sprite-edit-strike           { background-position: center -414px; } 
ul.formatting li.sprite-edit-underline        { background-position: center -460px; } 
ul.formatting li.sprite-emoticon              { background-position: center -506px; } 
ul.formatting li.sprite-link                  { background-position: center -552px; } 
ul.formatting li.sprite-picture               { background-position: center -598px; } 
ul.formatting li.sprite-youtube               { background-position: center -644px; } 

ul.formatting li a { text-indent: -9999px; }


