html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup,
var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, table,
tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer,
header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: top;
}

/* Set an even line-height - it's approx 1.42em as opposed to 1.5em, which is a bit large for narrower columns */
body {
  background-color: #fff;
  font: 13px/20px Helvetica, Arial, sans-serif;
  color: #222;
  overflow: hidden;
  padding-bottom: 40px;
}

