/******************************************************************************
 scaffold.css - Template Styles, for all pages
******************************************************************************/

body {
  background-color: #f6f6f6;
  background-image: url('http://vegrev.local/img/tile.gif');
}

.wrapper {
  margin: 0 auto;
  width: 960px;
}

#header {
  color: #fff;
/*  background-color: #42a700;*/
  background-color: #666;
  border-bottom: 2px solid #555;
  width:  100%;
  padding: 0;
  height: 78px;
  margin: 0 0 16px 0;
}

#content {
  float: left;
  width: 700px;
  margin: 2px 0 0 10px;
}

#sidebar {
  float: left;
  width: 228px;         /* Cheat a little here, 5px of extra width "off grid" */
  margin: 3px 0 0 20px;
}

h1, h2 {
  text-shadow: #fff 0px 1px 1px;
  border-bottom: 1px dotted #ccc;
}

h1 {
  font-size: 28px;
  line-height: 37px;
  margin-bottom: 12px;
}

h2 {
  font-size: 14px;
  line-height: 27px;
  margin-top: 9px;
  margin-bottom: 11px;
}


/* General styles, used everywhere */

.tiny_tag {
  font-family: Verdana;
  font-weight: bold;
  background-color: #aaa;
  color: #f6f6f6;
  font-size: 9px;
  line-height: 9px;
  padding: 1px 3px 1px 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-shadow: #666 0px 0px 2px;
}



/* Sidebar styles */

.smallform_label {
  float: left;
  font-size: 11px;
  width: 165px;
  padding: 0 0 0 4px;
  margin: 8px 8px 0 0;
}

.smallform_label a {
  color: #666;
}

#sidebar input[type="text"], #sidebar input[type="password"] {
  height: 16px;
  line-height: 16px;
  padding: 4px;
  margin-bottom: 6px;
  width: 218px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}


#sidebar input[type="submit"] {
  height: 24px;
  line-height: 22px;
  width: 48px;
  text-align: center;
  padding: 0 0 2px 0;
  margin: 4px 0 4px 0;
  background-color: #999;
  font-weight: bold;
  color: #fff;
}


#sidebar li {
  float: left;
  display: inline;
}

.tag_list li a, .user_list li a {
  border: 1px solid #ccc;
  background-color: #e0e0e0;
  font-weight: normal;
  color: #444;
  display: block;
  height: 20px;
  line-height: 20px;
  margin: 5px 5px 5px 0;
}

.tag_list li a:hover, .user_list li a:hover {
  background-color: #fff;
}

.tag_list li a {
  padding: 0 10px 0 10px;
  -webkit-border-radius: 11px;
  -moz-border-radius: 11px;
  border-radius: 11px;
}

.user_list li a {
  font-size: 11px;
  padding: 0 8px 0 2px;
  -webkit-border-top-right-radius: 11px;
  -webkit-border-bottom-right-radius: 11px;
  -moz-border-radius-topright: 11px;
  -moz-border-radius-bottomright: 11px;
  border-top-right-radius: 11px;
  border-bottom-right-radius: 11px;
}

.user_list img {
  height: 16px;
  margin: -4px 0 0 0;
  padding: 0;
}

.shoutbox_list li {
  margin-bottom: 8px;
}


