


/* Sidebar Widgets
================================================== */


#sidebar #loginbox input[type=text],
#sidebar #loginbox input[type=password] {
  width: 210px;
}

#sidebar #loginbox input[type=submit] {
  float: right;
  font-size: 12px;
}

#sidebar #loginbox span {
  float: left;
  font-size: 11px;
  margin-top: 8px;
}


#sidebar #logged_in_box img {
  width: 40px;
  height: 40px;
  float: left;
  margin-right: 20px;
  background-color: #ddd;
}







/* Users Online
================================================== */


ul.user_icon_list {
  list-style: none;
  margin: 0 0 20px 0;
  line-height: 30px;
  text-align: center;
}

ul.user_icon_list img {
  width: 30px;
  height: 30px;
}

ul.user_icon_list li {
  float: left;
  margin: 0 1px 1px 0;
}

ul.user_icon_list li a {
  background-color: #ddd;
  display: block;
  width: 30px;
  height: 30px;
}




/* Tags
================================================== */

ul.tag_list {
  list-style: none;
  margin: 0 0 20px 0;
}

ul.tag_list li {
  float: left;
  margin: 0 5px 8px 0;
}

ul.tag_list a {
  display: block;
  height: 18px;
  line-height: 18px;
  padding: 0 4px 0 4px;
  font-size: 11px;
  color: #555;
  background-color: #e3e3e3;
  border: 1px solid #bbb;
  border-radius: 4px;
  font-weight: normal;
}

ul.tag_list a:hover {
  color: #222;
  border: 1px solid #999;
}



/* Saved Threads
================================================== */

ul.recent_threads {
  font-size: 11px;
  
  list-style: none;
  margin: 0 0 20px 0;
}

ul.recent_threads li {
  line-height: 15px;
}

ul.recent_threads a {
  color: #444;
}

ul.recent_threads a:hover {
  color: #111;
}
