/******************************************************************************
 thread.css - For thread pages
******************************************************************************/

.message_wrapper {
  margin: 0 0 24px 0;
  position: relative;
}

.message_meta {
  margin: 0 0 15px 0;
}

.signature {
  border-top: 1px solid #eee;
  margin-top: 8px;
  padding: 7px 0 0 0;
  color: #999;
}

.author {
  font-size: 14px;
}

.message_time {
  font-family: Verdana;
  font-size: 9px;
  color: #888;
  margin-left: 10px;
}

.message_actions {
  position: absolute;
  top: 10px;
  right: 10px;
}

.avatar_box {
  float: left;
  width: 80px;
}

.avatar_box p {
  line-height: 14px;
}

.avatar_box .subtext {
  font-size: 9px;
  font-family: Verdana;
  color: #666;
  text-align: center;
  line-height: 12px;
  width: 82px;
}

.avatar_box .avatar {
  width: 80px;
  height: 80px;
}

.message_box {
  float: left;
  width: 578px;
  padding: 10px;
  margin: 0 0 0 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  -webkit-border-radius: 10px;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius: 10px;
  -moz-border-radius-topleft: 0;
  border-radius: 10px;
  border-top-left-radius: 0;
}


.quote_header {
  margin-top: 16px;
  color: #666;
  font-size: 11px;
  border-bottom: 1px solid #eee;
}

.quote {
  margin-top: 8px;
  color: #777;
}

.quote .avatar {
  height: 24px;
  width: 24px;
  float: left;
  margin-right: 8px;
}

.quote .quote_meta {
  color: #666;
  font-size: 10px;
  line-height: 10px;
  width: 545px;
  display: block;
  float: left;
}

.quote .quote_body {
  font-size: 11px;
  margin-top: 2px;
  line-height: 14px;
  width: 545px;
  display: block;
  float: left;
  height: 16px;
  overflow: hidden;
}



