# Percona / XtraDB Configuration.
# IntoVPS Ubuntu Server 10.04
# 512MB, nginx, Dancer

[client]
port                              = 3306
socket                            = /var/run/mysqld/mysqld.sock
character_set_client              = utf8


[mysqld_safe]
socket                            = /var/run/mysqld/mysqld.sock
nice                              = 0


[mysqld]
user                              = mysql
port                              = 3306
socket                            = /var/run/mysqld/mysqld.sock
pid-file                          = /var/run/mysqld/mysqld.pid
basedir                           = /usr
tmpdir                            = /tmp
language                          = /usr/share/mysql/english
character_set_server              = utf8
collation_server                  = utf8_general_ci
bind-address                      = 127.0.0.1


# Logging
slow_query_log                    = 1
log_slow_admin_statements         = 1
log_warnings                      = 2
long_query_time                   = 10
expire_logs_days                  = 10
max_binlog_size                   = 100M
slow_query_log_file               = /var/log/mysql/mysql-slow.log
log_bin                           = /var/log/mysql/mysql-bin
log_bin_index                     = /var/log/mysql/mysql-bin.index


# InnoDB Stuff
default_storage_engine            = InnoDB
sql_mode                          = NO_ENGINE_SUBSTITUTION,TRADITIONAL
innodb_log_group_home_dir         = /var/log/mysql
innodb_open_files                 = 400
innodb_io_capacity                = 400
innodb_file_per_table             = 1
innodb_buffer_pool_size           = 64M   # Maria: 256M / My: 64M / 50% to 80% of system RAM
innodb_log_file_size              = 16M   # 25 % of innodb_buffer_pool_size.
innodb_log_buffer_size            = 8M
innodb_flush_log_at_trx_commit    = 1     # 0 risks data loss for better performance
innodb_additional_mem_pool_size   = 8M
innodb_lock_wait_timeout          = 50
innodb_rollback_on_timeout        = 1
innodb_file_io_threads            = 4
innodb_flush_method               = O_DIRECT


# Per Thread Parameters
read_buffer_size                  = 256K
read_rnd_buffer_size              = 512K
max_connections                   = 100
max_heap_table_size               = 32M   # Maria: 32M / My: 128M
tmp_table_size                    = 32M   # Maria: 32M / My: 128M
table_cache                       = 128
sort_buffer_size                  = 2M
query_cache_min_res_unit          = 4K
query_cache_limit                 = 256k  # Maria: 128k / My: 1M
query_cache_size                  = 64M
max_allowed_packet                = 16M
thread_stack                      = 192K
thread_cache_size                 = 128   # Maria: 128 / My: 8
connect_timeout                   = 5
wait_timeout                      = 600


# Misc Stuff
skip-external-locking             = 1
skip-name-resolve


# MyISAM (unused)
myisam-recover                    = BACKUP
max_binlog_size                   = 128M
key_buffer                        = 16M
myisam_sort_buffer_size           = 2M
bulk_insert_buffer_size           = 16M


[mysqldump]
quick
quote-names
max_allowed_packet                = 16M


#
# * IMPORTANT: Additional settings that can override those from this file!
#   The files must end with '.cnf', otherwise they'll be ignored.
#
!includedir /etc/mysql/conf.d/
