# MariaDB Specific Configuration File.
# Modified from http://www.joehruska.com/ and my-medium.cnf
# Additional info from default MariaCB my.cnf

# Setup is for IntoVPS Ubuntu 10.04
# 512MB RAM, Cherokee, and app on one server

[client]
port                              = 3306
socket                            = /var/run/mysqld/mysqld.sock
character_set_server              = utf8 


[mysqld_safe]
socket                            = /var/run/mysqld/mysqld.sock
nice                              = 0


[mysqld]
user                              = mysql
port                              = 3306
socket                            = /var/run/mysqld/mysqld.sock
pid-file                          = /var/run/mysqld/mysqld.pid
basedir                           = /usr
tmpdir                            = /tmp
language                          = /usr/share/mysql/english


# Why would you not use utf8?
character_set_server              = utf8 
collation_server                  = utf8_general_ci 


# Listen only on localhost for security
bind-address                      = 127.0.0.1


# Logging
slow_query_log                    = 1
log_slow_admin_statements         = 1
log_warnings                      = 2
log_slow_file                     = /var/log/mysql/mariadb-slow.log
long_query_time                   = 10
log_slow_verbosity                = query_plan
log_bin                           = /var/log/mysql/mariadb-bin
log_bin_index                     = /var/log/mysql/mariadb-bin.index
expire_logs_days                  = 10
max_binlog_size                   = 100M


# InnoDB Stuff
default_storage_engine            = InnoDB
sql_mode                          = NO_ENGINE_SUBSTITUTION,TRADITIONAL
innodb_open_files                 = 400
innodb_io_capacity                = 400
innodb_file_per_table             = 1
innodb_data_home_dir              = /var/data/mysql
innodb_log_group_home_dir         = /var/log/mysql


# Set log_file_size to 25 % of buffer pool size - according to my-medium.cnf
innodb_log_file_size              = 16M
innodb_log_buffer_size            = 8M


# Can be 50% to 80% of system RAM, but be careful not to set too high.
innodb_buffer_pool_size           = 64M   # Maria: 256M / My: 64M


# Can double performance if set to 0, but risks data loss in case of power failure. Set to 1.
innodb_flush_log_at_trx_commit    = 1
innodb_additional_mem_pool_size   = 8M
innodb_lock_wait_timeout          = 50


# Added because default is not to rollback transaction == INSANITY
innodb_rollback_on_timeout        = 1
innodb_file_io_threads            = 4
#innodb_thread_concurrency        = 8 # From My - Not in Maria, Examine Setting
innodb_flush_method               = O_DIRECT


# Just in case I ever use a MyISAM table, from my-medium.cnf
myisam-recover                    = BACKUP
max_binlog_size                   = 128M
key_buffer                        = 16M
myisam_sort_buffer_size           = 8M
read_buffer_size                  = 256K
read_rnd_buffer_size              = 512K


# Start Performance Parameters
max_connections                   = 100
max_heap_table_size               = 32M   # Maria: 32M / My: 128M
tmp_table_size                    = 32M   # Maria: 32M / My: 128M
table_cache                       = 128
sort_buffer_size                  = 4M
query_cache_min_res_unit          = 4K
query_cache_limit                 = 128k  # Maria: 128k / My: 1M
query_cache_size                  = 64M
max_allowed_packet                = 16M
thread_stack                      = 192K
thread_cache_size                 = 128   # Maria: 128 / My: 8


# Maria specific
connect_timeout                   = 5
wait_timeout                      = 600
bulk_insert_buffer_size           = 16M


# Misc Stuff
skip-external-locking             = 1
skip-name-resolve


[mysqldump]
quick
quote-names
max_allowed_packet                = 16M


[isamchk]
key_buffer                        = 16M


#
# * IMPORTANT: Additional settings that can override those from this file!
#   The files must end with '.cnf', otherwise they'll be ignored.
#
!includedir /etc/mysql/conf.d/
