# InnoDB Specific Configuration File.
# Modified from http://www.joehruska.com/ and my-medium.cnf

# Setup is for IntoVPS Ubuntu 9.10 Server
# 512MB RAM, Nginx, and webapp on one server

[client]
port                              = 3306
socket                            = /var/run/mysqld/mysqld.sock

[mysqld_safe]
socket                            = /var/run/mysqld/mysqld.sock
nice                              = 0

[mysqld]
user                              = mysql
basedir														= /usr
tmpdir														= /tmp
pid-file                          = /var/run/mysqld/mysqld.pid
datadir                           = /var/lib/mysql
log-bin                           = /var/log/mysql/mysql-bin.log
mysqld-binlog-bin-index           = /var/log/mysql/mysqld-bin.index
expire-logs-days                  = 7
log-error                         = /var/log/mysql/mysqld.err
log-slow-queries
long-query-time                   = 2

# Listen only on localhost for security
bind-address										  = 127.0.0.1

innodb_data_home_dir              = /var/data/mysql
innodb_file_per_table
innodb_autoextend_increment       = 8
innodb_log_group_home_dir         = /var/log/mysql
innodb_log_files_in_group         = 2

# Set log_file_size to 25 % of buffer pool size - according to my-medium.cnf
innodb_log_file_size              = 16M
innodb_log_buffer_size 						= 8M

# Can double performance if set to 0, but risks data loss in case of power failure. Set to 1.
innodb_flush_log_at_trx_commit		= 1

# Start Performance Parameters
max_connections										= 151
max_heap_table_size								= 128M
tmp_table_size										= 128M
table_cache												= 128
sort_buffer_size									= 4M
query_cache_min_res_unit          = 4K
query_cache_limit                 = 1M
query_cache_size                  = 64M
max_allowed_packet                = 16M
thread_stack                      = 192K
thread_cache_size                 = 8


# Just in case I ever use a MyISAM table, from my-medium.cnf
myisam-recover         						= BACKUP
max_binlog_size         					= 128M
key_buffer												= 16M
myisam_sort_buffer_size 					= 8M
read_buffer_size									= 256K
read_rnd_buffer_size						  = 512K


# Important - Can be 50% to 80% of system RAM, but be careful not to set too high.
innodb_buffer_pool_size           = 64M

innodb_additional_mem_pool_size   = 8M
innodb_lock_wait_timeout          = 50

# Added because default is not to rollback transaction == INSANITY
innodb_rollback_on_timeout

innodb_file_io_threads            = 4
innodb_thread_concurrency         = 8
innodb_flush_method               = O_DIRECT

# Disabled this, original cnf was for 5.0, and changes in 5.1 MAY affect this setting.
#transaction-isolation                = READ-COMMITTED

skip-external-locking
skip-name-resolve

[mysqldump]
quick
quote-names
max_allowed_packet								= 16M