


#newpostform {
  background-color: #222;
  padding: 20px 20px 10px 20px;
  clear: both;
  width: 540px;
  margin-left: 120px;

  -webkit-border-radius: 2px;
     -moz-border-radius: 2px;
          border-radius: 2px;

  -webkit-box-shadow: 0 0px 10px rgba(0, 0, 0, 0.8);
     -moz-box-shadow: 0 0px 10px rgba(0, 0, 0, 0.8);
          box-shadow: 0 0px 10px rgba(0, 0, 0, 0.8);
}


#newpostform input[type=text],
#newpostform textarea {
  width: 532px;
  background-color: #eee;
  color: #111;
  border: none;
}

#newpostform input[type=submit] {
  float: right;
}

#close_postform {
  font-size: 11px;
  color: #fff;
}
