/* Reset */
iframe.punymce, ul.punymce, ul.punymce li, .punymce a {border:0; padding:0; margin:0; display:inline; background:transparent}

/* Basic UI */
.punymce tr.mceBody td div.mceBody {position:relative}

/* Resize */
.punymce .mceResize {position:absolute; right:1px; bottom:1px; width:7px; height:7px; background:url('../img/icons.gif') -217px -9px; overflow:hidden}

/* MSIE 6 */
* html .punymce .mceResize {right:2px; bottom:4px}

/* MSIE 7 */
*:first-child+html .punymce .mceResize {right:1px; bottom:1px}
