/******************************************************************************
 black.css - Theme Styles, Just a bunch of colors
******************************************************************************/

a { font-weight: bold; text-decoration: none; }

ul.tag_list a.current {
  border: 1px solid #333;
  background-color: #333;
  color: #fff;
  font-weight: bold;
}

::-moz-selection { background: #333; color:#fff; text-shadow: none; }
::selection      { background: #333; color:#fff; text-shadow: none; } 

a         { color: #333; }
a:visited { color: #333; }
a:hover   { color: #666; }
a:link    { -webkit-tap-highlight-color: #333; } 

#header   { background-color: #333; }
