/******************************************************************************
 green.css - Theme Styles, Just a bunch of colors
******************************************************************************/

a { font-weight: bold; text-decoration: none; }

ul.tag_list a.current {
  border: 1px solid #2f992f;
  background-color: #2f992f;
  color: #fff;
  font-weight: bold;
}

::-moz-selection { background: #2f992f; color:#fff; text-shadow: none; }
::selection      { background: #2f992f; color:#fff; text-shadow: none; } 

a         { color: #2f992f; }
a:visited { color: #2f992f; }
a:hover   { color: #666666; }
a:link    { -webkit-tap-highlight-color: #2f992f; } 

#header { background-color: #2f992f; }

/* New links on the front page - Deliberately RED on all themes */
ul.thread_list span.thread_tagging i { background-color: #f23030; }
