fuck~f*ck
wank~w*nk
twat~tw*t
piss~p*ss
cock=c*ck
bastard~b*st*rd
dick~d*ck
bugger~b*gger
porn=p*rn
cunt=c*nt
bitch=b*tch
Macbeth=The Scottish Play
bollocks=b*ll*cks
nigger=n*gg*r
paki=p*ki
minge~m*nge
shit~sh*t
arse=a*se
arsehole=a*sehole
arsewipe=a*sewipe
ass=a*s
whore~wh*re
slag=sl*g
slut=sl*t
cunts=c*nts
Pots=That Thing
Dowhyj= Довгий