###############################################################################
# config/paths.config
# =============================================================================
# Version:    Vegetable Revolution 3.0
# Released:   1st June 2009
# Revision:   $Rev$
# Copyright:  James Aitken <http://www.loonypandora.co.uk>
###############################################################################

use strict;

our %config = (
    'domain'        => 'vegetablerevolution.co.uk',
    'base_url'      => 'http://vegetablerevolution.co.uk',
    'upload_url'    => 'http://vegetablerevolution.co.uk/uploads',
    'base_path'     => '/usr/share/nginx/vegetablerevolution',
    'langdir'       => '/usr/share/nginx/vegetablerevolution/lang',
    'templatedir'   => '/usr/share/nginx/vegetablerevolution/templates',
    'assetdir'      => '/usr/share/nginx/vegetablerevolution/public/template',
    'tmp_uploaddir' => '/tmp',
    'uploaddir'     => '/usr/share/nginx/vegetablerevolution/public/uploads',
    'template'      => 'vr_green',

    'language'      => 'english',

    'threads_per_page'  => 15,
    'messages_per_page' => 15,
    'members_per_page'  => 20,
    'pms_per_page'      => 15,
    'posts_per_page'    => 15,
    'photos_per_page'   => 8,
    'shouts_to_show'    => 20,
    'shouts_per_page'   => 50,
);

1;
