###############################################################################
# subroutines.config
# =============================================================================
# Version:    Vegetable Revolution 3.0
# Released:   1st June 2009
# Revision:   $Rev$
# Copyright:  James Aitken <http://www.loonypandora.com>
###############################################################################

use strict;

our %sublist = (
    '_format_template'    => '/helpers/application.pl',
    '_format_template'    => '/helpers/application.pl',
    '_format_username'    => '/helpers/application.pl',
    '_format_threadlink'  => '/helpers/application.pl',
    '_generate_cache_key' => '/helpers/application.pl',

    '_redirect'            => '/helpers/application.pl',
    '_generate_pagination' => '/helpers/application.pl',
    '_show_footer_item'    => '/helpers/application.pl',

    '_check_new_thread'   => '/helpers/application.pl',
    '_start_attachments' => '/helpers/application.pl',
    '_finish_attachments' => '/helpers/application.pl',
    '_encode_password'    => '/helpers/application.pl',
    '_old_insecure_md5_password'    => '/helpers/application.pl',
    '_do_censor'          => '/helpers/application.pl',

    'edit_profile'      => '/controllers/profile_controller.pl',
    'save_profile'      => '/controllers/profile_controller.pl',
    '_write_profile'    => '/models/profile_model.pl',
    '_load_spec_groups' => '/models/profile_model.pl',

    'prepare_new_pm_thread'  => '/controllers/private_messages_controller.pl',
    'prepare_new_pm_message' => '/controllers/private_messages_controller.pl',
    'show_pm_userlist'       => '/controllers/private_messages_controller.pl',
    'do_new_pm_thread'       => '/controllers/private_messages_controller.pl',
    'do_new_pm_message'      => '/controllers/private_messages_controller.pl',

    '_get_pm_userlist' => '/models/private_messages_model.pl',
    '_load_recipient'  => '/models/private_messages_model.pl',
    '_pm_thread_info'  => '/models/private_messages_model.pl',

    '_write_pm_message' => '/models/private_messages_model.pl',
    '_write_pm_thread'  => '/models/private_messages_model.pl',
    '_mark_pm_unread'   => '/models/private_messages_model.pl',

    'show_login_form'        => '/controllers/user_controller.pl',
    'do_user_login'          => '/controllers/user_controller.pl',
    'do_user_logout'         => '/controllers/user_controller.pl',
    
    # Registration is disabled
    # 'show_registration_form' => '/controllers/user_controller.pl',
    # 'do_user_registration'   => '/controllers/user_controller.pl',
    # 'do_user_activation'     => '/controllers/user_controller.pl',

    'show_forgot_password_form' => '/controllers/user_controller.pl',
    'do_reset_password'         => '/controllers/user_controller.pl',
    '_do_reset_password'        => '/models/user_model.pl',

    '_message_of_the_day'      => '/helpers/application.pl',
    '_get_next_previous_links' => '/helpers/application.pl',
    '_get_category'            => '/helpers/application.pl',

    '_show_search_results' => '/models/search_model.pl',
    'show_search_results'  => '/controllers/search_controller.pl',
    'show_search_form'     => '/controllers/search_controller.pl',
    '_show_search_form'    => '/models/search_model.pl',
    'redirect_to_search'   => '/controllers/search_controller.pl',

    '_update_last_online'      => '/models/user_model.pl',
    '_update_user_shout_count' => '/models/user_model.pl',

    'do_add_poll' => '/controllers/poll_controller.pl',
    'do_new_poll' => '/controllers/poll_controller.pl',

    '_do_add_poll'         => '/models/poll_model.pl',
    '_do_add_poll_options' => '/models/poll_model.pl',
    '_show_poll'           => '/models/poll_model.pl',

    'do_vote_poll'  => '/controllers/poll_controller.pl',
    '_do_vote_poll' => '/models/poll_model.pl',

    'do_delete_vote'  => '/controllers/poll_controller.pl',
    '_do_delete_vote' => '/models/poll_model.pl',
    '_poll_info'      => '/models/poll_model.pl',

    'prepare_delete_poll'     => '/controllers/poll_controller.pl',
    'do_delete_poll'          => '/controllers/poll_controller.pl',
    '_do_delete_poll'         => '/models/poll_model.pl',
    '_do_delete_poll_votes'   => '/models/poll_model.pl',
    '_do_delete_poll_options' => '/models/poll_model.pl',

    '_board_list'           => '/models/forum_model.pl',
    '_thread_list'          => '/models/forum_model.pl',
    '_message_list'         => '/models/forum_model.pl',
    '_write_thread_viewers' => '/models/forum_model.pl',
    '_update_threads'       => '/models/forum_model.pl',

    '_do_move_thread'    => '/models/forum_model.pl',
    '_simple_board_list' => '/models/forum_model.pl',
    '_do_lock_thread'    => '/models/forum_model.pl',
    '_do_unlock_thread'  => '/models/forum_model.pl',
    '_do_star_thread'    => '/models/forum_model.pl',
    '_do_unstar_thread'  => '/models/forum_model.pl',
    '_update_site_stats' => '/models/forum_model.pl',
    '_get_site_stats'    => '/models/forum_model.pl',
    'big_boards'         => '/controllers/forum_controller.pl',

    '_recent_posts' => '/models/forum_model.pl',

    '_load_viewer'       => '/models/user_model.pl',
    '_quick_load_viewer' => '/models/user_model.pl',

    '_get_user_id_from_name' => '/models/user_model.pl',

    '_load_profile' => '/models/profile_model.pl',

    '_get_recent_posts'      => '/models/profile_model.pl',
    '_get_recent_post_count' => '/models/profile_model.pl',
    'users_recent_posts'     => '/controllers/profile_controller.pl',

    'show_memberlist'     => '/controllers/profile_controller.pl',
    '_load_memberlist'    => '/models/profile_model.pl',
    '_total_member_count' => '/models/profile_model.pl',

    'calculate_page' => '/helpers/application.pl',

    'show_boards'          => '/controllers/forum_controller.pl',
    'show_threads'         => '/controllers/forum_controller.pl',
    'show_messages'        => '/controllers/forum_controller.pl',
    'show_gallery_threads' => '/controllers/forum_controller.pl',
    'show_gallery_boards'  => '/controllers/forum_controller.pl',
    'show_portal'          => '/controllers/forum_controller.pl',
    'show_photo'           => '/controllers/forum_controller.pl',
    'prepare_move_thread'  => '/controllers/forum_controller.pl',
    'do_move_thread'       => '/controllers/forum_controller.pl',
    'prepare_new_photo'    => '/controllers/forum_controller.pl',
    'prepare_new_comment'  => '/controllers/forum_controller.pl',
    'prepare_lock_thread'  => '/controllers/forum_controller.pl',
    'do_lock_thread'       => '/controllers/forum_controller.pl',
    'do_unlock_thread'     => '/controllers/forum_controller.pl',

    'prepare_star_thread' => '/controllers/forum_controller.pl',
    'do_star_thread'      => '/controllers/forum_controller.pl',
    'do_unstar_thread'    => '/controllers/forum_controller.pl',

    'prepare_delete_message' => '/controllers/forum_controller.pl',
    'do_delete_message'      => '/controllers/forum_controller.pl',
    '_do_delete_message'     => '/models/forum_model.pl',

    'prepare_delete_thread' => '/controllers/forum_controller.pl',
    'do_delete_thread'      => '/controllers/forum_controller.pl',
    '_do_delete_thread'     => '/models/forum_model.pl',

    'prepare_new_message' => '/controllers/forum_controller.pl',
    'prepare_new_thread'  => '/controllers/forum_controller.pl',

    'do_new_thread'         => '/controllers/forum_controller.pl',
    'do_new_message'        => '/controllers/forum_controller.pl',
    'prepare_edit_message'  => '/controllers/forum_controller.pl',
    'prepare_quote_message' => '/controllers/forum_controller.pl',
    'do_edit_message'       => '/controllers/forum_controller.pl',
    'do_edit_thread'        => '/controllers/forum_controller.pl',

    'prepare_edit_thread' => '/controllers/forum_controller.pl',

    '_write_threads'   => '/models/forum_model.pl',
    '_write_message'   => '/models/forum_model.pl',
    '_single_message'  => '/models/forum_model.pl',
    '_do_save_message' => '/models/forum_model.pl',
    '_redirect_to_new' => '/models/forum_model.pl',
    '_thread_info'     => '/models/forum_model.pl',
    '_do_edit_thread'  => '/models/forum_model.pl',

    'prepare_add_poll' => '/controllers/poll_controller.pl',
    'prepare_new_poll' => '/controllers/poll_controller.pl',

    'show_archive_boards' => '/controllers/forum_controller.pl',

    'show_userprofile' => '/controllers/profile_controller.pl',

    'show_shoutbox'           => '/controllers/shoutbox_controller.pl',
    '_list_shoutbox_messages' => '/models/shoutbox_model.pl',
    '_list_shoutbox_archives' => '/models/shoutbox_model.pl',
    '_shout_total'            => '/models/shoutbox_model.pl',
    'show_archive_shouts'     => '/controllers/shoutbox_controller.pl',

    'do_new_shout' => '/controllers/shoutbox_controller.pl',
    '_write_shout' => '/models/shoutbox_model.pl',

    'show_pm_inbox'   => '/controllers/private_messages_controller.pl',
    'show_pm_sent'    => '/controllers/private_messages_controller.pl',
    'show_pm_saved'   => '/controllers/private_messages_controller.pl',
    'show_pm_thread'  => '/controllers/private_messages_controller.pl',
    'show_pm_message' => '/controllers/private_messages_controller.pl',

    'confirm_delete_pm_thread' => '/controllers/private_messages_controller.pl',
    'do_delete_pm_thread'      => '/controllers/private_messages_controller.pl',

    '_do_delete_pm_thread' => '/models/private_messages_model.pl',

    'show_admin'       => '/controllers/admin_controller.pl',
    'edit_word_filter' => '/controllers/admin_controller.pl',
    'save_word_filter' => '/controllers/admin_controller.pl',
    'edit_bans'        => '/controllers/admin_controller.pl',
    'save_bans'        => '/controllers/admin_controller.pl',
    'check_bans'       => '/controllers/admin_controller.pl',
    'edit_groups'      => '/controllers/admin_controller.pl',
    'save_groups'      => '/controllers/admin_controller.pl',
    'edit_boards'      => '/controllers/admin_controller.pl',
    'save_boards'      => '/controllers/admin_controller.pl',

    '_write_post_group' => '/models/admin_model.pl',
    '_write_spec_group' => '/models/admin_model.pl',
    '_write_boards'     => '/models/admin_model.pl',
    '_all_board_list'   => '/models/admin_model.pl',

    '_list_private_conversations' => '/models/private_messages_model.pl',
    '_list_private_messages'      => '/models/private_messages_model.pl',
    '_list_sent_messages'         => '/models/private_messages_model.pl',

);

1;
