

<%= $tmpl->include("$config{'templatedir'}/facebox/_header.tmpl") %>
	
	<% my $readonly = undef; if ($vr::db{'pm_subject'}) { $readonly = ' readonly="readonly"'; } %>
	
	<label for="fixed_recipient" id="recipient_label" class="column two alpha omega ">To:</label>
	<h3 class="required column eight_and_half omega" style="margin-bottom: 0; line-height: 30px;"><%= &vr::_format_username($vr::db{'user_name'}, $vr::db{'display_name'}, $vr::db{'spec_group_color'}); %></h3>
  <input type="hidden" name="recipient" id="fixed_recipient" value="<%=$vr::GET{'user'}%>" style="display: none;" />

  <br class="clear" />

	<label for="subject" id="subject_label" class="column two alpha omega ">Subject:</label>
	<input type="text" id="subject" name="subject" value="<%=$vr::db{'pm_subject'}%>" class="required column eight_and_half omega"<%=$readonly%> />
  <br class="clear" />

  <div class="column two alpha omega">
    <label for="markitup" id="textarea_label" class="column two alpha omega ">Message:</label>
    <div class="column" id="extra_emoticons_container">
      <p class="header_block" style="padding-left: 5px; margin-bottom: 0;">More Smileys</p>

      <select id="extra_emoticons_select">
        <% my @smileys = &vr::_list_smileys; my $first_smiley = ''; %>
        <% foreach $smiley (@smileys) { %>
          <% if (!$first_smiley) { $first_smiley = $smiley; }%>
        <% my $name = $smiley; $name =~ s/\.(\w+)$//g; %>
        <option value="<%=$smiley%>"><%=$name%></option>
        <% } %>
      </select>

      <a href="#" title=" [smiley]<%=$first_smiley%>[/smiley]" id="extra_emoticons_link" class="text_center">
        <img id="extra_emoticons_image" src="<%=$vr::viewer{'template_url'}%>/img/emoticons_extra/<%=$first_smiley%>">
      </a>
    </div>  
  </div>

  <div class="column nine omega">
  	<textarea name="message" class="required column eight_and_half omega" id="markitup"><%=$vr::db{'message_body'}%></textarea>
  </div>
  <br class="clear" />

  <br class="clear" />
  
<%= $tmpl->include("$config{'templatedir'}/facebox/_footer.tmpl") %>
