<%= $tmpl->include("$config{'templatedir'}/_header.tmpl") %>

<h1><%= $vr::tmpl{'page_title'}%></h1>
<h2>Stuff you've sent to people</h2>

  <div class="column two alpha">
    <div class="header_block column two alpha text_indent">Folders</div>
      <ul class="folderlist small text_indent">
        <li><a href="<%=$vr::config{'base_url'}%>/messages/">Inbox</a></li>
        <li class="active" ><a href="<%=$vr::config{'base_url'}%>/messages/sent/">Sent</a></li>
        <!--li class="last"><a href="<%=$vr::config{'base_url'}%>/messages/saved/">Saved</a></li-->
    </ul>
	</div>

<div class="column ten alpha omega">

<% while ($vr::loop->fetchrow_arrayref) { %>

<% my $led = 'offline.png'; if(&_check_if_online($vr::loop{'user_id'})) { $led = 'online.png'; } %>

  <h3 class="column ten omega pm_container"><a href="<%=$vr::config{'base_url'}%>/messages/inbox/<%=$vr::loop{'pm_thread_id'}%>/"><%= $vr::loop{'pm_subject'}; %></a></h3>
  <div class="column one_and_bit message_avatar">
    <% if ($vr::loop{'avatar'}) {%><img src="<%=$vr::loop{'avatar'};%>" class="small_avatar"/><% } %>
    &nbsp;
  </div>

  <div class="column eight_and_half alpha omega">
    <div class="column eight_and_half omega">
      <h4><img src="<%=$vr::viewer{'template_url'}%>/img/<%=$led %>" class="status_led" /> <%= &vr::_format_username($vr::loop{'user_name'}, $vr::loop{'display_name'}, $vr::loop{'spec_group_color'}); %></h4>
      <p class="last_updated small"><%= &vr::_format_time($vr::loop{'pm_post_time'}, 'full'); %></p>
    </div>
    <div class="column eight omega pm_message_main pm_sent_main">
     <%=&vr::_format_yabbc($vr::loop{'pm_body'});%>
    </div>
  </div>


<% } %>

</div>
<br class="clear" />
<%= $tmpl->include("$config{'templatedir'}/_footer.tmpl") %>
