<h1><%= $VR::db->{'album'}{'board_title'} %></h1>
<h2><%= $VR::db->{'album'}{'board_description'} %></h2>
<hr />

<% if ($VR::sth{'photos'}) { %>
    <div class="column twelve">
  <% $partial::x = 0; while ($VR::sth{'photos'}->fetchrow_arrayref) { %>
    <%= $self->render_partial('photo_list', {sth => 'photos'}); %>
  <% } %>
    </div>
<% } %>
