RewriteEngine on
RewriteBase /

RewriteCond %{HTTP_HOST} ^vegetablerevolution\.com$
RewriteRule (.*) http://www.vegetablerevolution.co.uk/$1 [R=Permanent]

RewriteCond %{HTTP_HOST} ^www.vegetablerevolution\.com$
RewriteRule (.*) http://www.vegetablerevolution.co.uk/$1 [R=Permanent]

RewriteCond %{HTTP_HOST} ^vegetablerevolution\.co\.uk$
RewriteRule (.*) http://www.vegetablerevolution.co.uk/$1 [R=Permanent]

## Down for Maintenence
#DirectoryIndex /errors/down.html


ErrorDocument 404 /errors/404.html
ErrorDocument 500 /errors/500.html


## File Types

AddType application/octet-stream .tac


### SECURITY ###
# Don't forget to add deny all to the non public directories, etc.


# Old stuff redirects
RewriteRule ^forum/YaBB.pl$ /forum/ [R=301,L]
RewriteRule ^mods/?$ /admin/ [R=301,L]
RewriteRule ^mods/?(.*)?$ /admin/mods/$1 [R=301,L]
RewriteRule ^shoutbox/viewshoutbox.php(.*)?$ /shoutbox/ [R=301,L]
RewriteRule ^big_boards/?$ /vr/index.pl?action=big_boards [QSA,L]
RewriteRule ^stats/?$ /vr/index.pl?action=big_boards [QSA,L]
RewriteRule ^uptime/?$ /vr/index.pl?action=big_boards [QSA,L]


### SIMPLE REDIRECTS ###
RewriteRule ^template/(.*)?$ /vr/template/$1 [QSA,L]
RewriteRule ^uploads/(.*)?$ /vr/uploads/$1 [QSA,L]


### APPLICATIION REDIRECTS ###

# Nothing on the URL? It's the motherfucking portal!
RewriteRule ^/?$ /vr/index.pl?action=show_portal [QSA,L]

# If it's just /forum or /gallery, redirect to boardindex
RewriteRule ^forum/?$ /vr/index.pl?action=show_boards [QSA,L]
RewriteRule ^gallery/?$ /vr/index.pl?action=show_gallery_boards [QSA,L]
RewriteRule ^archive/?$ /vr/index.pl?action=show_archive_boards [QSA,L]


# Less than 9 digits it's a page for a board...
RewriteRule ^forum/(\w+)/?(\d{1,8})?/?$ /vr/index.pl?action=show_threads;id=$1;page=$2 [QSA,L]

# More than that it's a thread ID.
RewriteRule ^forum/(\w+)/?(\d{9,11})?/?(\d{1,8}|new|all)?/?(\d{1,8})?/?$ /vr/index.pl?action=show_messages;board_id=$1;id=$2;page=$3;allpage=$4 [QSA,L]

# Dont't forget individual posts
RewriteRule ^forum/(\w+)/?(\d{9,11})?/post/?(\d+)?/?$ /vr/index.pl?action=calculate_page;board_id=$1;id=$2;post_id=$3 [QSA,L]


# AND NOW FOR THE GALLERY VERSION! LOLOLOL
# Less than 9 digits it's a page for a board...
RewriteRule ^gallery/(\w+)/?(\d{1,8})?/?$ /vr/index.pl?action=show_gallery_threads;id=$1;page=$2;allpage=$3 [QSA,L]

# More than that it's a thread ID.
RewriteRule ^gallery/(\w+)/?(\d{9,11})?/?(\d{1,8}|new|all)?/?(\d{1,8})?/?$ /vr/index.pl?action=show_photo;board_id=$1;id=$2;page=$3;allpage=$4 [QSA,L]

# Dont't forget individual posts
RewriteRule ^gallery/(\w+)/?(\d{9,11})?/post/?(\d+)?/?$ /vr/index.pl?action=show_messages;board_id=$1;id=$2;page=$3 [QSA,L]


# AND NOW FOR THE ADMIN CENTRE VERSION! LOLOLOL

# Less than 9 digits it's a page for a board...
RewriteRule ^admin/mods/(\w+)/?(\d{1,8})?/?$ /vr/index.pl?action=show_threads;id=$1;page=$2;allpage=$3 [QSA,L]

# More than that it's a thread ID.
RewriteRule ^admin/mods/(\w+)/?(\d{9,11})?/?(\d{1,8}|new|all)?/?(\d{1,8})?/?$ /vr/index.pl?action=show_messages;board_id=$1;id=$2;page=$3;allpage=$4 [QSA,L]

# Dont't forget individual posts
RewriteRule ^admin/mods/(\w+)/?(\d{9,11})?/post/?(\d+)?/?$ /vr/index.pl?action=show_messages;board_id=$1;id=$2;page=$3 [QSA,L]



# AND NOW FOR THE ARCHIVE VERSION! LOLOLOL
# Fix the shoutbox, so it goes to the right controller...
RewriteRule ^archive/shoutbox/?(\d{1,11})?/?$ /vr/index.pl?action=show_archive_shouts;page=$1 [QSA,L]

# Less than 9 digits it's a page for a board...
RewriteRule ^archive/(\w+)/?(\d{1,8})?/?$ /vr/index.pl?action=show_threads;id=$1;page=$2;allpage=$3 [QSA,L]

# More than that it's a thread ID.
RewriteRule ^archive/(\w+)/?(\d{9,11})?/?(\d{1,8}|new|all)?/?(\d{1,8})?/?$ /vr/index.pl?action=show_messages;board_id=$1;id=$2;page=$3;allpage=$4 [QSA,L]

# Dont't forget individual posts
RewriteRule ^archive/(\w+)/?(\d{9,11})?/post/?(\d+)?/?$ /vr/index.pl?action=show_messages;board_id=$1;id=$2;page=$3 [QSA,L]




# User Profiles
RewriteRule ^user/(\w+)/?$ /vr/index.pl?action=show_userprofile;user=$1 [QSA,L]
RewriteRule ^user/(\w+)/recent_posts/?(\d{1,8})?/?$ /vr/index.pl?action=users_recent_posts;user=$1;page=$2 [QSA,L]

RewriteRule ^members/?$ /members/posts/ [R=301,L]

RewriteRule ^members/(date|name|posts|online)/?(\d{1,8})?/?$ /vr/index.pl?action=show_memberlist;type=$1;page=$2 [QSA,L]

# Shoutbox - Including redirect to real archives URL - nice and friendly like that.
RewriteRule ^shoutbox/archive/(.*)?$ /archive/shoutbox/$1 [R=301,L]
RewriteRule ^shoutbox/?$ /vr/index.pl?action=show_shoutbox [QSA,L]


# Private Messages
# Less than 9 digits it's a page for a board...
RewriteRule ^messages/?(\d{1,8})?/?$ /vr/index.pl?action=show_pm_inbox;page=$1 [QSA,L]
RewriteRule ^messages/inbox/?(\d{1,8})?/?$ /vr/index.pl?action=show_pm_inbox;page=$1 [QSA,L]
RewriteRule ^messages/sent/?(\d{1,8})?/?$ /vr/index.pl?action=show_pm_sent;page=$1 [QSA,L]

# More than that it's a thread ID.
RewriteRule ^messages/(inbox|sent)/?(\d{9,11})?/?(\d+)?/?$ /vr/index.pl?action=show_pm_thread;id=$2;page=$3 [QSA,L]



# Form Editing
RewriteRule ^postform/(\w+)?/?$ /vr/index.pl?action=$1 [QSA,L]
RewriteRule ^posthandler/(\w+)?/?$ /vr/index.pl [QSA,L]

# Authentication
RewriteRule ^login/?$ /vr/index.pl?action=show_login_form [QSA,L]
RewriteRule ^activate/(\w+)/?(\w{32})/?$ /vr/index.pl?action=do_user_activation;user=$1;key=$2 [QSA,L]

RewriteRule ^register/?$ /vr/index.pl?action=show_registration_form [QSA,L]
RewriteRule ^forgot_password/?$ /vr/index.pl?action=show_forgot_password_form [QSA,L]

RewriteRule ^logout/?$ /vr/index.pl?action=do_user_logout [QSA,L]
RewriteRule ^settings/?(\w+)?/?$ /vr/index.pl?action=edit_profile;user_name=$1 [QSA,L]

RewriteRule ^search/?$ /vr/index.pl?action=show_search_form [QSA,L]
RewriteRule ^search/results/?$ /vr/index.pl?action=redirect_to_search [QSA,L]


# Search
RewriteRule ^search/(\w+)/([A-Za-z0-9+_]+)/([A-Za-z0-9+_\s]+)/?(\d{1,8})?/?$ /vr/index.pl?action=show_search_results;time_period=$1;search_boards=$2;search_query=$3;page=$4 [QSA,L]


# Admin
RewriteRule ^admin/?$ /vr/index.pl?action=show_admin [QSA,L]
RewriteRule ^admin/word_filter/?$ /vr/index.pl?action=edit_word_filter [QSA,L]
RewriteRule ^admin/edit_bans/?$ /vr/index.pl?action=edit_bans [QSA,L]
RewriteRule ^admin/edit_groups/?$ /vr/index.pl?action=edit_groups [QSA,L]
RewriteRule ^admin/edit_boards/?$ /vr/index.pl?action=edit_boards [QSA,L]

#RewriteRule ^admin/boards/(\w+)/?(\d{1,8})?/?$ /vr/index.pl?action=show_admin_threads;id=$1;page=$2 [QSA,L]
#RewriteRule ^admin/boards/(\w+)/?(\d{9,11})?/?(\d+)?/?$ /vr/index.pl?action=show_admin_messages;board_id=$1;id=$2;page=$3 [QSA,L]
#RewriteRule ^admin/(\w+)/?$ /vr/index.pl?action=show_admin;section=$1 [QSA,L]



# Big Boards Stats: http://www.big-boards.com/
#RewriteRule ^stats /yabb/YaBB.pl?action=bigboards [QSA,L]
